[http]
	; proxy = http://127.0.0.1:20171
	sslVerify = false
[https]
	; proxy = https://127.0.0.1:20171
[user]
	name = zeekcheung
	email = zeekcheung@gmail.com
[credential "helperselector"]
	selected = manager
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
; NOTE: Disable proxy rule for gh.zeekcheung.asia via v2raya
[url "https://gh.zeekcheung.asia/https://github.com/"]
	insteadOf = https://github.com/
