* {
  min-height: 0;
  font-family: "Maple Mono NF", "Fira Code Nerd Font", "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: 600;
}

@import "themes/catppuccin-mocha.css";
/*@import "themes/gruvbox-material.css";*/

