@define-color base #282828;
@define-color black #665c54;
@define-color red #ea6962;
@define-color green #a9b665;
@define-color yellow #e78a4e;
@define-color blue #7daea3;
@define-color maganta #d3869b;
@define-color cyan #89b482;
@define-color white #d4be98;

#waybar {
  color: @white;
}

window#waybar {
  background-color: rgba(40, 40, 40, 0.9);
}

#workspaces {
  background-color: transparent;
}

#workspaces button:hover {
  color: @base;
  background-color: @white;
}

#workspaces button.active {
  color: @base;
  background-color: @blue;
}

#workspaces button.urgent {
  background-color: @red;
}

#custom-logo {
  color: @blue;
}

#window {
  color: @green;
}

#cpu {
  color: @cyan;
}

#memory {
  margin-left: 0;
  color: @cyan;
}

#network {
  color: @yellow;
}

#tray > .passive {
  color: @white;
}

#tray > .active {
  color: @white;
}

#tray > .needs-attention {
  color: @yellow;
}

#pulseaudio {
  color: @yellow;
}

#battery {
  color: @green;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-power {
  color: @red;
  padding-right: 5px;
  font-size: 14px;
}

@keyframes blink {
  to {
    background-color: @red;
    color: @base;
  }
}
